{% extends "layout.html" %}

{% block title %}Field ∥ set-ground{% endblock %}

{% block content %}
  <h1>환영합니다!</h1>
  <p>출결, 회비, 일정 등을 한 곳에서 관리하세요.</p>
  <div class="ui piled segment">
    <div class="ui header">Hi there!</div>
    <p>오늘 수업은 말씀해 주셨던 2학년 선택 과목 수요 조사에서 어떻게 응답하고, 향후 선택 과목에 따라 활동 내역을 어떻게 꾸며 나갈지 같이 의논해 보도록 하겠습니다.

그리고, 치과대학이 어떤 곳인지 제도적으로 너무 무겁지 않더라도 깊이 있게 살펴보고, 앞으로 여러 진로 관련 활동을 할 때 활용할 수 있는 자양분으로서 생화학 내용을 함께 공부해 보도록 합시다. 물론! **쉽게 알아들으실 수 있을 정도로만**요.

그리하여 오늘 수업은 조금 오래 걸릴 수도 있으니 양해를 부탁드리며, 도중에 쉬는 시간이 필요하면 5분에서 10분 정도 시간을 갖도록 합시다. 파이팅입니다!</p>
  </div>
{% endblock %}