<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <!-- Keywords -->
        <meta charset="UTF-8" />
        {% block meta %}
        <meta name="keywords" content="Field" />
        <meta name="keywords" content="필드" />
        <meta name="description" content="Field for anything" />
        <meta name="robots" content="noarchive" />
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        {% block externalCDN %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/styles/semantic/semantic.min.css" />
        <script type="text/javascript" src="/styles/semantic/semantic.min.js"></script>
        {% block style_scripts %}
        <link rel="stylesheet" type="text/css" href="/styles/default.css" />
        <script type="text/javascript" src="/scripts/init.js"></script>
        <script type="text/javascript" src="/scripts/crypto.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block alert %}<div id="alert"></div>{% endblock %}
        {% include "public/header.html" %}
        {% block fullContent %}
        <div class="ui equal width grid container">
            <div class="stretched row">
                <div class="column">
                    {% block aside %}
                    <div class="ui mobile hidden container segments">
                        <div class="ui segment">
                            <div id="profile" class="ui card">
                                {% include "public/profileS.html" %}
                            </div>
                            <div id="messages" class="ui container">
                                <div class="ui tiny message">
                                    <div class="header">daw</div>
                                    dwa
                                </div>
                            </div>
                            <div id="links" class="ui one column grid">
                                <div class="column">
                                    <div class="ui piled segment">
                                        <p>dwadaw</p>
                                        <p>dwadaw</p>
                                        <p>dwadaw</p>
                                    </div>
                                </div>
                                <div class="column">dwa</div>
                                <div class="column">dwa</div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
                <div class="twelve wide column">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        {% include "public/footer.html" %}
    </body>
    {% block postscript %}{% endblock %}
</html>