<div class="content"><!-- User info? Profile info? All selects provided to user -->
    <img class="right floated mini ui image" src="" />
    <div class="header">Username</div>
    <div class="meta">
        <br />
        <!-- 표시할 단체 / 직책 -->
    </div>
    <div class="description">
        Elliot requested permission to view your contact details
    </div>
</div>
<div class="extra content">
    <div class="ui two buttons">
        <div class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
    </div>
</div>